[Unit]
Description=terra controller
After=containerd.service orbit.service network.target

[Service]
ExecStart=/usr/local/sbin/terra --debug --controller 127.0.0.1 controller --gateway 127.0.0.1 --iscsi 127.0.0.1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
