[Unit]
Description=orbit runtime agent
After=containerd.service network.target

[Service]
ExecStart=/usr/local/bin/orbit-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
